body {
    background-color: #1a1a1a;
    color: #fffef1;
    font-family: "Inter";
    max-width: 900px;
    margin: 0 auto;
}

a {
    color: #fffef1;
}

#relation {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#relation {
    padding-bottom: 1px
}

#about {
    margin-bottom: 50px;
}

iframe {
    border-radius: 20px;
}

#card {
    margin-top: 10px;
    color: #1a1a1a;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fffef1;
    border-radius: 20px;
}

#card a {
    color: #252525
}

#footer {
    margin-top: 65px;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pfp {
    border-radius: 1000px;
}

.top-bar-right {
    display: flex;
    gap: 10px;
}

#rounded {
    border-radius: 50px
}

.back {
    background-color: rgb(0, 125, 0);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

button {
    display: inline-block;
    background-color: #fffef1;
    color: #1a1a1a;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1rem;
    padding: 0.7em 2.0em;
    border-radius: 900px;
    box-shadow: 0 2px 8px 0 rgba(255, 254, 217, 0.1)
}